body {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
  }

  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: #8eb5df;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #7aa9da;
  }

  input[type="text"] {
    padding: 10px;
    width: 70%;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }

  #commentsContainer div {
    text-align: left;
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }

  #delete-btn {
    background-color: rgb(214, 146, 146);
    font-size: 8px;
    padding: 3px 3px;

  }
#delete-btn:hover {
    background-color: rgb(210, 96, 96);
}

.cat-image-frame {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;
  box-shadow: 3px 3px 5px lightgray;
}

.cat-image-frame img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#like-button:hover {
  background-color: lightcoral;
}

#dislike-button:hover {
  background-color: rgb(35, 6, 6);

}

.nav-button:hover {
  background-color: rgb(94, 141, 94);
}

.comment-button:hover {
  background-color: rgb(94, 141, 94);
}
